extends layout

block content
  #content
    #bio
      b automata.cc 
    #boxes
      each pad in pads
        div(class='box')
          a(href='/#{pad.name}') 
            div(class='thumb')
              img(src='#{pad.thumb}')
            div(class='title')
              #{pad.name} 
            //p
            //  #{pad.abstract}
  #feeds
      