extends layout

block content
  #content
    #bio
      b automata || Vilson Vieira
      br
      \Coder, artist, maker. I create algorithms that create and Web is my canvas. My current focus are on alternative interfaces to computer programming, susteinable structures and creativity exploration. I love to collaborate, please follow me and keep in touch: <a href="http://twitter.com/aut0mata">Twitter</a>, <a href="http://github.com/automata">Github</a>, <a href="http://flickr.com/auto_mata">Flickr</a>, <a href="http://aut0mata.tumblr.com">Tumblr</a>, <a href="mailto:vilson@void.cc">Email</a>. 
    #boxes
      each pad in pads
        div(class='box')
          a(href='/#{pad.name}') 
            div(class='thumb')
              img(src='#{pad.thumb}')
            div(class='title')
              #{pad.name} 
            //p
            //  #{pad.abstract}
  #feeds
  #bottom
        