extends layout

block content
  #content
    #bio
      #banner
        a(href='/')
          \automata || Vilson Vieira
      \Keep in touch: <a href="http://twitter.com/aut0mata">Twitter</a>  <a href="http://github.com/automata">Github</a>, <a href="http://flickr.com/auto_mata">Flickr</a>, <a href="http://aut0mata.tumblr.com">Tumblr</a>, <a href="https://soundcloud.com/aut0mata">SoundCloud</a>, <a href="mailto:vilson@void.cc">Email</a>. Thank you for your visit.
    !{pad_content}                

    #disqus_thread
    script(type='text/javascript')
      var disqus_shortname = 'automata';
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();