/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-weight: 100;
font-family: 'Exo 2', Helvetica Neue, sans-serif;
line-height: 1.55em;
font-size: 24px;
    background: #fff;
    color: #000;
    font-weight: 100;
    font-size: 16pt;
}

.box {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    padding-right: 20px;
    padding-bottom: 100px;
    position: relative;
    float: left;
    opacity: 1.0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.box:hover {
  opacity: 0.8;
}

.box .thumb {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    /* hacked from http://lea.verou.me/css3patterns */
    background-color:#ccc;
    background-image: 
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:20px 20px;

    height: 200px;
    width: 200px;
    overflow: hidden;
}

#content .box .thumb img {
    max-width: none;
    display: inline-block;
    min-width: 100%;
    min-height: 100%;
    margin: -100px 0 0 -100px;
}

.box .title {
    font-size: 16pt;
}

.box a {
    text-decoration: none;
}

/*
.box h1 {
    z-index: 10;
    background: #000;
    color: #fff;
    font-size: 12pt;
    padding: 3px;
    font-weight:normal;
    bottom: -11px;
    left: 0px;
    opacity: 1.0;
    decoration: none;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
}
*/

/* content */

#bio {
  max-width: 900px;
  margin-bottom: 100px;
}

#banner a {
  text-decoration: none;
  font-weight: bold;
}

#banner a:hover {
  opacity: 0.3;
}

#content {
    height: auto;
    background: #fff;
    float: left;
    padding: 20px;
    margin-bottom: 100px;
}

#content p, #content li {
    font-weight: 100;
    font-family: 'Exo 2', Helvetica Neue, sans-serif;
    line-height: 1.55em;
    font-size: 24px;
}

#content h1 {
    font-family: 'Exo 2', Helvetica Neue, sans-serif;;
    font-size: 86px;
    font-weight: 500;
}

#content h2 {
    font-family: 'Exo 2', Helvetica Neue, sans-serif;;
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
}

#content h3 {
    font-family: 'Exo 2', Helvetica Neue, sans-serif;;
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
}

#content img {
    max-width: 100%;
}

/* feeds */

#feeds {
    float: right;
    padding-right: 300px;
    top: 0;
}

#feeds .delicious, #feeds .tumblr, #feeds .github {
    padding-left: 40px;
    width: 200px;
    padding-bottom: 15px;
    display: block;
}

#feeds .delicious {
    background: url("/images/delicious.png") no-repeat;
}

#feeds .tumblr {
    background: url("/images/tumblr.png") no-repeat;
}

#feeds .github {
    background: url("/images/github.png") no-repeat;
}

pre {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 18px;
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 10px;
    -o-border-radius: 5px;

    background-color:#222;
    background-image: 
    linear-gradient(rgba(55,55,55,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(55,55,55,.3) 1px, transparent 1px);
    background-size:20px 20px;

    color: #eee;
}

textarea {
    width: 600px;
    height: 500px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 11pt;
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 10px;
    -o-border-radius: 5px;
    background: #222;

background-color:#222;
background-image: 
linear-gradient(rgba(55,55,55,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(55,55,55,.3) 1px, transparent 1px);
background-size:20px 20px;

    
    color: #eee;
}

a, a:visited, a:active {
    color: #000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    display: block;
    margin: 1em 0px;
    font-weight: 100;
    font-family: raleway;
    line-height: 1.55em;
    font-size: 22px;
}

blockquote p {
  padding: 10px;
  font-style: italic;

background-color:#eee;
background-image: 
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:20px 20px;

  width: 600px;
  font-size: 18px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;

      border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 10px;
    -o-border-radius: 5px;

}

blockquote p:before {
  font-family: Sans;
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -18px;
top: 14px;
color: #fff;
}

#feedback_box {
    margin-right: -510px;    
    position: fixed;
    top: 180px;
    height: 400px;
    right: 0;
    width: 500px;
    background: #000;
    color: #fff;
    padding-left: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    font: 300 .8em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#feedback_box:hover {
    margin-right: 0px;
}

#feedback_box #feedback_icon {
    border: none;
    left:-45px;
    position: absolute;
}

p.author, p.date {
    color: #666;
}

#disqus_thread {
    padding: 10px;
    overflow: auto;
    height: 350px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

#disqus_thread a, #disqus_thread a:visited, #disqus_thread a:active {
    color: #fff;
    text-decoration: underline;
}

#disqus_thread a:hover {
    text-decoration: none;
}

#icons_box {
    background: none;
    top: 10px;
    color: #999999;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    position: fixed;
    right: -15px;
    text-transform: lowercase;
    z-index: 10;
}

#icons_box img {
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#icons_box a, a:hover, a:visited {
    background: none;
    border: 0 none;
    border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    -o-border-radius: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

#icons_box img:hover {
    transform: translate(-10px, 0px);
    -webkit-transform: translate(-10px, 0px);
    -moz-transform: translate(-10px, 0px);
    -o-transform: translate(-10px, 0px);
    z-index: 20;
    opacity: 0.9;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
